@model IEnumerable<ServiceManager.Web.ViewModels.MachineViewModel>

@section Styles {
    <style>
        .card {
        }
    </style>
}

<div class="columns">
    <div class="column">
        <a class="btn" asp-action="Create">New Machine</a>
    </div>
</div>

<nav class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous" title="This is the first page" disabled>Previous</a>
    <a class="pagination-next">Next page</a>
    <ul class="pagination-list">
        <li>
            <a class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
        </li>
        <li>
            <a class="pagination-link" aria-label="Goto page 2">2</a>
        </li>
        <li>
            <a class="pagination-link" aria-label="Goto page 3">3</a>
        </li>
    </ul>
</nav>


<table class="table">
    <thead>
        <tr>
            <th>Machine</th>
            <th>Specs</th>
            <th>Services</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var machine in Model)
        {
            <tr class="column">
                <td>@(machine.Name)</td>
                <td>@(machine.Specs)</td>
                <td>
                    @{
                        var lstServiceNames = machine.Services?.Select(x => "<span class='tag'>" + x.Text + "</span>")?.ToList() ?? new List<string>();
                        var serviceNames = string.Join(' ', lstServiceNames);
                    }
                    @(Html.Raw(serviceNames))
                </td>
                <td>
                    <a asp-controller="Machine" asp-action="Details" asp-route-id="@machine.Id.ToString()" class="btn">Details</a>
                    <a asp-controller="Machine" asp-action="Edit" asp-route-id="@machine.Id.ToString()" class="btn">Edit</a>
                    <a asp-controller="Machine" asp-action="Delete" asp-route-id="@machine.Id.ToString()" class="btn">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>