@model IEnumerable<ServiceManager.Common.Models.Project>

<div class="columns">
    <div class="column">
        <a class="btn" asp-action="Create">New Project</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr class="column">
                <td>@(project.Name)</td>
                <td>@(project.Name)</td>
                <td>
                    <a asp-controller="Project" asp-action="Details" asp-route-id="@project.Id.ToString()" class="btn">Details</a>
                    <a asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id.ToString()" class="btn">Edit</a>
                    <a asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id.ToString()" class="btn">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>