@model IEnumerable<ServiceManager.Common.Models.SystemUser>

<div class="columns">
    <div class="column">
        <a class="btn" asp-action="Register">New User</a>
    </div>
</div>

<div class="columns">
    <table class="table is-full">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>Username</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>1</td>
                    <td>@(user.FirstName) @(user.LastName)</td>
                    <td>@(user.Email)</td>
                    <td>@(user.UserName)</td>
                    <td><a class="btn" asp-action="Edit" asp-route-id="@user.Id.ToString()">Edit</a></td>
                    <td><a class="btn" asp-action="Edit" asp-route-id="@user.Id.ToString()">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>