<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServiceManager.Web</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .container {
            padding: 15px;
        }

        .hidden {
            visibility: hidden;
        }
    </style>
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/form.css" rel="stylesheet" />
    <link href="~/css/table.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>


    <header>
        <nav>
            <div class="menu-container">
                <div class="hero"></div>
                <div>
                    <ul class="navigation">
                        <li>
                            <a asp-controller="Service" asp-action="Index" class="navbar-item">
                                Services
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Machine" asp-action="Index" class="navbar-item">
                                Machines
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Project" asp-action="Index" class="navbar-item">
                                Projects
                            </a>
                        </li>
                        <li class="dropdown">
                            Services
                            <ul class="dropdown-items">
                                <li>Level-11</li>
                                <li class="dropdown">
                                    Level-12
                                    <ul class="dropdown-items">
                                        <li>Level-22</li>
                                        <li class="dropdown">
                                            Level-22
                                            <ul class="dropdown-items">
                                                <li>Level-E</li>
                                            </ul>
                                        </li>
                                        <li>Level-22</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <ul class="navigation">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <text>
                        <li>
                            <a asp-controller="Account" asp-action="Register" class="button is-link">
                                <strong>Sign up</strong>
                            </a> | 
                            <a asp-controller="Account" asp-action="LogIn" class="button is-light">
                                Log in
                            </a>
                        </li>
                            
                        </text>
                    }
                    else
                    {
                        <text>
                            <li class="dropdown">
                                @(User.Identity.Name)
                                <ul class="dropdown-items">
                                    <li>
                                        <a asp-controller="Account" asp-action="Profile" class="navbar-item">
                                            Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-controller="Account" asp-action="LogOut" class="navbar-item">
                                            LogOut
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </text>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>

    <footer>
        <i>Service Manager - 2022</i>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fontawesome/font-awesome.js"></script>
    <script>
    </script>
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)
</body>
</html>
